@page
@model DependencyInjectionDemo.Pages.Index2Model
@{
    ViewData["Title"] = "Home page with Index2";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Demo'ing Dependency Injection.</p>
</div>
