<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!--<add name="EnumDbContext"
			 connectionString="Server=(LocalDB)\MSSQLLocalDB;Initial Catalog=EnumDb;Integrated Security=true;AttachDbFileName=C:\Data\EnumDb.mdf"
			 providerName="System.Data.SqlClient" />-->
		<add name="EnumDbContext"
			 connectionString="Server=.\SQLEXPRESS;Initial Catalog=EnumDb;Integrated Security=true;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>